.mt-8{
    margin-top: 8rem;
}

.mb-8{
    margin-bottom: 8rem;
}

.branding{
    width: 15vh;
}

.primarycolor{
    background-color: rgba(24,52,99,255)
}

.title{
    border-left: 5px solid darkgoldenrod;
    padding-left: 10px;
    color: darkgoldenrod;
}