<!-- Navbar -->
<div class="primarycolor">
    <app-header></app-header>
</div>

<!-- Contact Us -->
<div class="container text-body-secondary mt-5 mb-8">
    <form class="row g-3">
        <h2 class="title fs-3">Contact Us</h2>
        <span class="fw-semibold fs-4">Contact Us Today to Learn More!</span>
        <div class="col-md-6">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="col-md-6">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
        <div class="col-md-6">
            <label for="emailId" class="form-label">Email ID</label>
            <input type="email" class="form-control" id="emailId" placeholder="xyz@gmail.com">
        </div>
        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control no-spinners" id="phoneNumber" maxlength="12"
                onkeypress="return event.charCode>=48 &&  event.charCode<=57" placeholder="91xxxxxxxxxx"
                inputmode="tel">
        </div>
        <div class="col-12">
            <label for="inputDetails" class="form-label">Tell Us about your Project</label>
            <input type="text" class="form-control" id="inputDetails" placeholder="Describe Briefly about your project">
        </div>
        <div class="col-12 text-center mt-5">
            <button type="submit" class="btn btn-lg" style="background-color:darkgoldenrod">Submit</button>
        </div>
    </form>
</div>

<!-- Footer -->
<Footer class="primarycolor">
    <app-footer></app-footer>
 </Footer>