<div class="container">
    <div class="row justify-content-center text-white text-center py-4 gap-3">
        <div>
            <img src="../../../assets/images/logo.png" class="branding" alt="Branding">
        </div>
        <div class="col-md-7">
            Unisan helps clients and business to grow their platform smoothly on global level as we work on
            technical
            requirements and business of the website.
        </div>

        <div>
            <i class="fa-solid fa-phone"></i> <a href="tel:+919696678829"
                class="text-decoration-none text-white"> +91 969 667 8829</a> &nbsp;
            <i class="fa-solid fa-envelope"></i> <a href="mailto:adhiraj.unisan@gmail.com"
                class="text-decoration-none text-white"> adhiraj.unisan@gmail.com</a>
        </div>

        <div>
            <a href="https://www.linkedin.com/" class="text-decoration-none">
                <i class="fa-brands fa-linkedin fa-2xl text-white"></i>
            </a> &nbsp;
            <a href="https://web.whatsapp.com/" class="text-decoration-none">
                <i class="fa-brands fa-whatsapp fa-2xl text-white"></i>
            </a>
        </div>

        <div>
            <a routerLink="/contact" class="text-decoration-none text-white">Contact Us</a>
            <span class="mx-2">|</span>
            <a routerLink="/privacy" class="text-decoration-none text-white">Privacy & Policy</a>
            <span class="mx-2">|</span>
            <a routerLink="/termsconditions" class="text-decoration-none text-white">Terms & Condition</a>
        </div>

        <span class="fw-lighter border-top py-2">Copyright © 2023 UNISAN All Right Reserved</span>

    </div>
</div>
