.mt-8{
    margin-top: 8rem;
}

.branding{
    width: 15vh;
}
.hero{
    background: url(../../../assets/images/home/mainhero-min.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
}

.title{
    border-left: 5px solid darkgoldenrod;
    padding-left: 10px;
    color: darkgoldenrod;
}

.text-justify{
    text-align: justify;
}


.primarycolor{
    background-color: rgba(24,52,99,255)
}

.dimension{
    width: 10rem;
} 

.no-spinners::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

