<!-- Hero Content - Image and Navbar -->

<div class="aboutus position-relative">
    <nav class="navbar navbar-expand-lg d-flex flex-wrap justify-content-center py-3 mb-4">
        <div class="container-fluid">
            <img src="../../../assets/images/logo.png"
                class="branding d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                alt="Branding">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-white position-absolute bottom-0 my-5">
        <span class="fs-4">Get to Know</span>
        <h3 class="fs-1">UNISAN</h3>
        <span class="fs-3">Our Story, Our Visions, Our Culture</span>
    </div>
</div>

<!-- Main Content -->

<!-- About Us  -->
<div class="container text-body-secondary mt-8">
    <div class="row">
        <div class="col-md-7">
            <h2 class="title fs-1">About Us</h2>
            <span class="fw-semibold fs-4">Why are are working so hard?</span>
            <p class="mt-5 text-justify">
                EVERYONE IS TALKING ABOUT AI. But what if we implement human creativity with Al?
                Experience and innovation with technology make us much more advanced to get the use of creativity within
                our
                projects. What you provide is all you like. We are here with creativity and quality. Skills and
                technology
                this is what we look on to deliver <b>"Quality over quantity"</b>. We are always open to offering help
                to our
                most
                valuable clients who have a bigger vision to grow and expand their social circle for their offerings.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/images/about/professional_grp.jpg" class="img-fluid rounded" width="500" height="500">
        </div>
    </div>
</div>



<!-- Mission - Vision -->

<div class="bg-strip">
    <div class="container mt-8">
        <div class="row py-5 text-white">
            <div class="col-md-6">
                <h2 class="title fs-1">Our Mission</h2>
                <p class="mt-3 text-justify">Modify the business technically by providing advanced technical
                    solutions and
                    implementing that in their business.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="title fs-1">Our Vision</h2>
                <p class="mt-3 text-justify">Make technology a gift and provide a better use of it to our
                    business partners and clients.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- How we work  -->

<div class="container text-body-secondary mt-8">
    <h2 class="title fs-1">How we work?</h2>
    <span class="fw-semibold fs-4 text-body-secondary">UNISAN's Design and <br /> Development Methodology</span>

    <!-- Items -->
    <div class="row mt-5 align-items-center p-md-5">
        <div class="col">
            <img src="../../../assets/images/about/2894599.jpg" class=" img-fluid rounded-circle" width="150">
        </div>
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">We gather information to what our clients needs.</span>
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">Then we look on what else we can provide to make it more valuable.</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/about/5326066.jpg" class=" img-fluid rounded-circle" width="150">
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col">
            <img src="../../../assets/images/about/45684145.jpg" class=" img-fluid rounded-circle" width="150">
        </div>
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">We gather data and images from our clients which needs to be
                incorporated.</span>
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">We build a design which may fulfil the satisfaction of it may look.</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/about/3054120.jpg" class=" img-fluid rounded-circle" width="150">
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col">
            <img src="../../../assets/images/about/4529164.jpg" class="img-fluid rounded-circle" width="150">
        </div>
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">Getting the design finalized and moving on to development.</span>
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">Once the design is approved, we move into the development phase.</span>
        </div>
        <div class="col">
            <img src="../../../assets/images/about/20943760.jpg" class=" img-fluid rounded-circle" width="150">
        </div>
    </div>

    <div class="row mt-5 align-items-center p-md-5">
        <div class="col">
            <img src="../../../assets/images/about/2113868.jpg" class="img-fluid rounded-circle" width="150">
        </div>
        <div class="col-8 col-md-9">
            <span class="fw-semibold lead">Project is completed and then served to our clients.</span>
        </div>
    </div>
</div>

<!-- Our Culture -->

<div class="container text-body-secondary mt-8">
    <h2 class="title fs-1 mb-5">Our Culture</h2>
    <div class="row text-center align-self-center gap-3">
        <div class="col">
            <img src="../../../assets/images/about/2909877.jpg" class="rounded-circle w-75">
            <div class="fw-semibold fs-5 mt-3">Creativity and Innovation</div>
        </div>

        <div class="col">
            <img src="../../../assets/images/about/4529196.jpg" class="rounded-circle w-75">
            <div class="fw-semibold fs-5 mt-3">Collaboration and Communication</div>
        </div>

        <div class="col">
            <img src="../../../assets/images/about/6736639.jpg" class="rounded-circle w-75">
            <div class="fw-semibold fs-5 mt-3">Continuous Growth and Development</div>
        </div>

        <div class="col">
            <img src="../../../assets/images/about/2968304.jpg" class="rounded-circle w-75">
            <div class="fw-semibold fs-5 mt-3">Customer Satisfaction</div>
        </div>

    </div>
</div>

<!-- Help you Build -->

<div class="container text-body-secondary mt-8">
    <div class="row align-items-center">
        <div class="col-md-7">
            <span class="fw-semibold fs-2 text-body-secondary">We'd like to help you build, your dream project.</span>
        </div>
        <div class="col-md-5 p-3">
            <button type="button" class="btn btn-outline-secondary btn-lg px-5 py-3">Let's Colloborate</button>
        </div>
    </div>
</div>

<Footer class="bg-strip">
    <div class="container mt-8">
        <div class="row justify-content-center text-white text-center py-4 gap-3">
            <div>
                <img src="../../../assets/images/logo.png" class="branding" alt="Branding">
            </div>
            <div class="col-md-7">
                Unisan helps clients and business to grow their platform smoothly on global level as we work on
                technical
                requirements and business of the website.
            </div>

            <div>
                <i class="fa-solid fa-phone"></i> <a href="tel:+919696678829"
                    class="text-decoration-none text-white"> +91 969 667 8829</a> &nbsp;
                <i class="fa-solid fa-envelope"></i> <a href="mailto:adhiraj.unisan@gmail.com"
                    class="text-decoration-none text-white"> adhiraj.unisan@gmail.com</a>
            </div>

            <div>
                <a href="https://www.linkedin.com/" class="text-decoration-none">
                    <i class="fa-brands fa-linkedin fa-2xl text-white"></i>
                </a> &nbsp;
                <a href="https://web.whatsapp.com/" class="text-decoration-none">
                    <i class="fa-brands fa-whatsapp fa-2xl text-white"></i>
                </a>
            </div>

            <div>
                <a href="#" class="text-decoration-none text-white">Contact Us</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-decoration-none text-white">Privacy & Policy</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-decoration-none text-white">Terms & Condition</a>
            </div>

            <span class="fw-lighter border-top py-2">Copyright © 2023 UNISAN All Right Reserved</span>

        </div>
    </div>
</Footer>