.vh-50{
    height: 40vh;
}

.selector{
    position: absolute;
    bottom: 10px;
    left: px;
}
.mt-6{
    margin-top: 6rem;
}

.branding{
    width: 15vh;
}

.title{
    border-left: 5px solid darkgoldenrod;
    padding-left: 10px;
    color: darkgoldenrod;
}

.text-justify{
    text-align: justify;
}


.primarycolor{
    background-color: rgba(24,52,99,255)
}

.dimension{
    width: 10rem;
} 

.no-spinners::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

