<!-- Hero Content - Image and Navbar -->

<div class="position-relative">
    <nav class="navbar navbar-expand-lg d-flex flex-wrap justify-content-center py-3">
        <div class="container-fluid">
            <img src="../assets/coloredlogo.png"
                class="branding d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                alt="Branding">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactus.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- FAQ -->
<div class="container text-body-secondary">
    <h2 class="title fs-3 mb-5">Frequently Asked Questions</h2>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    What services does UNISAN provide?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>UNISAN</strong> offers website designing services, UI/UX designing services, and data
                    analyst services. We help businesses create visually appealing websites, improve user
                    experience, and provide data driven insights for informed decision making.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How can I contact UNISAN for inquiries or project requests?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can reach out to us by visiting the Contact page on our website. Fill out the contact form
                    with your details and message, and our team will respond to you promptly.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can UNISAN create a custom website design for my business?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Absolutely! We specialize in creating custom website designs tailored to the unique needs and
                    branding of your business. Our team of designers will work closely with you to ensure your
                    website stands out and captures your vision.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Does UNISAN offer website maintenance and support services?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we provide ongoing website maintenance and support services to ensure your website runs
                    smoothly. From regular updates and security checks to troubleshooting and technical assistance,
                    we have you covered.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How long does it take to complete a website design project?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The timeline for a website design project can vary depending on the complexity and scope of the
                    project. After discussing your requirements, we will provide you with an estimated timeline for
                    your specific project.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Does UNISAN provide responsive design for mobile devices?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The timeline for a website design project can vary depending on the complexity and scope of the
                    project. After discussing your requirements, we will provide you with an estimated timeline for
                    your specific project.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Will my website be optimized for search engines (SEO)?
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we follow SEO best practices while designing and developing websites. We optimize your
                    website structure and content to improve search engine visibility and help drive organic traffic
                    to your site.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    How does UNISAN ensure the security of my website and user data?
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    We prioritize website security and employ industry standard measures to protect your website and
                    user data. This includes using secure hosting, implementing SSL certificates, and following best
                    practices for data encryption.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Can UNISAN integrate third party services into my website?
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we can integrate various third party services into your website, such as payment gateways,
                    analytics tools, social media platforms, and more. Let us know your specific requirements, and
                    we ll handle the integration for you.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Does UNISAN offer data analytics services? How can they benefit my business?
                </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, we offer data analytics services to help businesses gain valuable insights from their data.
                    Our data analysts can help you identify trends, patterns, and opportunities to make data driven
                    decisions and drive business growth.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Find your Question? -->
<div class="container text-body-secondary">
    <form>
        <h2 class="title fs-3">Didn't Find your Question?</h2>
        <span class="fw-semibold fs-4">Ask us your Question here</span>

        <div class="mb-3 mt-5">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="inputQuery" class="form-label">Ask your Query</label>
            <input type="text" class="form-control" id="inputQuery" placeholder="Describe Briefly about your project">
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-lg" style="background-color:darkgoldenrod">Submit</button>
        </div>
    </form>
</div>

<Footer class="bg-strip">
    <div class="container">
        <div class="row justify-content-center text-white text-center py-4 gap-3">
            <div>
                <img src="../assets/logo.png" class="branding" alt="Branding">
            </div>
            <div class="col-md-7">
                Unisan helps clients and business to grow their platform smoothly on global level as we work on
                technical
                requirements and business of the website.
            </div>

            <div>
                <i class="fa-solid fa-phone"></i> <a href="tel:+919696678829"
                    class="text-decoration-none text-white">+91 969 667 8829</a> &nbsp;
                <i class="fa-solid fa-envelope"></i> <a href="mailto:adhiraj.unisan@gmail.com"
                    class="text-decoration-none text-white">adhiraj.unisan@gmail.com</a>
            </div>

            <div>
                <a href="https://www.linkedin.com/" class="text-decoration-none">
                    <i class="fa-brands fa-linkedin fa-2xl text-white"></i>
                </a> &nbsp;
                <a href="https://web.whatsapp.com/" class="text-decoration-none">
                    <i class="fa-brands fa-whatsapp fa-2xl text-white"></i>
                </a>
            </div>

            <div>
                <a href="#" class="text-decoration-none text-white">Contact Us</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-decoration-none text-white">Privacy & Policy</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-decoration-none text-white">Terms & Condition</a>
            </div>

            <span class="fw-lighter border-top py-2">Copyright © 2023 UNISAN All Right Reserved</span>

        </div>
    </div>
</Footer>