<app-header2></app-header2>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 style="color: red"><b>SUPPORT US</b></h1>
            <br /><br />
            <h3><b>WE ARE CONTINUOUSLY BUILDING FOR THE GROWTH AND WE NEED YOUR SUPPORT</b></h3>
            <h5><b>PLEASE DONATE US WITH MINIMUM <h1 style="color: red"><b>50</b></h1> SO WE CAN FOCUS MORE ON BUILDING AN AUTOMATED PLATFORM TO HELP YOU OUT</b></h5>
            <br />
            <h5 style="color: red"><b>Developers are putting their hard work day & night and requesting your donation to keep up their work on the go</b></h5>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/Payment QR.png" alt="Funding Support" height="500" width="350">
        </div>
    </div>    
</div>


<!-- Footer -->
<Footer class="primarycolor">
    <app-footer></app-footer>
</Footer>