.mt-8{
    margin-top: 8rem;
}

.branding{
    width: 15vh;
}

.title{
    border-left: 5px solid darkgoldenrod;
    padding-left: 10px;
    color: darkgoldenrod;
}

.text-justify{
    text-align: justify;
}


.primarycolor{
    background-color: rgba(24,52,99,255)
}

.dimension{
    width: 10rem;
}

.navbar-nav .nav-item:hover .nav-link {
    position: relative;
    border-bottom: 3px solid darkgoldenrod;
    transform: translateY(-3px);
  }
  

